apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: python-app
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - image: docker pull ghcr.io/2022-4400-exp/4405-python-app:1851fa2ad3ae237aa23017b709d1d053dda4869a@sha256:d7e5d6419ec2a2a4d81dd78c027d29be288bb51cc5cde4363c621f558af37754
        name: python-app
        env:
        - name: PYTHON_DATABASE
          value: "mydb"
        - name: PYTHON_USER
          value: "tmcit"
        - name: PYTHON_PASSWORD
          value: "password"
        volumeMounts:
        - mountPath: /var/python-app
          name: python-data-mount
      volumes:
      - name: python-data-mount
        persistentVolumeClaim:
          claimName: python-data
