apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: python-app
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - image: katudon/python-app
          name: python-app
          env:
            - name: PYTHON_DATABASE
              value: "mydb"
            - name: PYTHON_USER
              value: "tmcit"
            - name: PYTHON_PASSWORD
              value: "password"
          volumeMounts:
            - mountPath: /var/python-app
              name: python-data-mount
      volumes:
        - name: python-data-mount
          persistentVolumeClaim:
            claimName: python-data
